{% extends 'base.html' %}

{% block content %}
    <h3>Project Detail 
        <a href="{% url 'update_project' project_id=project.id %}" class="btn btn-primary">Update Project</a>
        <a href="{% url 'delete_project' project_id=project.id %}" class="btn btn-danger">Delete Project</a>
    </h3>
    <h2>Project Title: {{ project.title }}</h2>
    <p>Project Description: {{ project.description }}</p>
    
    <hr>
    <h3>Folders</h3>
    <a href="{% url 'create_folder' project_id=project.id %}" class="btn btn-primary mb-3">Create Folder</a>
    
    {% if folders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for folder in folders %}
                    <tr>
                        <td>{{ folder.title }}</td>
                        <td>{{ folder.description }}</td>
                        <td>
                            <a href="{% url 'folder_detail' project_id=project.id folder_id=folder.id %}" class="btn btn-primary">View Folder</a>
                            <a href="{% url 'update_folder' project_id=project.id folder_id=folder.id %}" class="btn btn-primary">Update Folder</a>
                            <a href="{% url 'download_folder' folder.id %}" class="btn btn-primary">Download Folder</a>
                            <a href="{% url 'delete_folder' project_id=project.id folder_id=folder.id %}" class="btn btn-danger">Delete Folder</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No folders found.</p>
    {% endif %}
{% endblock %}
